@import "tailwindcss";
@import "./font-face.css";

@custom-variant dark (&:where(.dark, .dark *));

@utility container {
    @apply mx-auto px-4;
}

@utility mobile-nav {
    @apply z-20 w-55 gap-4 fixed flex-col -left-56 h-screen top-0 bg-header-bg pl-4 pt-10 transition-all;
}

@theme {
    /* font */
    --font-sora: "Sora", sans-serif;

    /* <=== break-points ===> */
    --breakpoint-xs: 24.375rem;
    --breakpoint-sm: 36rem;
    --breakpoint-2xl: 101.75rem;

    /* <=== colors ===> */

    /* main colors */
    --color-grey-10: var(--color-neutral-200);
    --color-grey-12: var(--color-neutral-300);

    /* bg-colors */
    --color-bg-primary: var(--color-neutral-100);
    --color-header-bg: var(--color-neutral-50);

    /* text-colors */
    --color-txt-primary: var(--color-neutral-900);

    /* logo-colors */
    --color-logo-fill: var(--color-neutral-400);
    --color-logo-stroke: var(--color-neutral-900);
}

.dark {
    /* main-colors */
    --color-grey-10: var(--color-neutral-800);
    --color-grey-12: var(--color-zinc-700);

    /* bg-colors */
    --color-bg-primary: var(--color-neutral-900);
    --color-header-bg: var(--color-neutral-800);

    /* text-colors */
    --color-txt-primary: var(--color-neutral-100);

    /* logo-colors */
    --color-logo-fill: var(--color-neutral-500);
    --color-logo-stroke: var(--color-neutral-100);
}

@layer base {
    body {
        @apply font-normal font-sora bg-bg-primary text-txt-primary;
    }
    a {
        @apply hover:opacity-70 transition-all;
    }
    header {
        @apply fixed top-0 left-0 right-0 bg-bg-primary/20 backdrop-blur-md pt-10 pb-3.5;
    }
}
