@font-face {
  font-family: "sora";
  font-style: normal;
  font-weight: 300;
  src: url(/src/assets/fonts/Sora-Light.ttf) format("truetype");
}

@font-face {
  font-family: "sora";
  font-style: medium;
  font-weight: 400;
  src: url(/src/assets/fonts/Sora-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "sora";
  font-style: bold;
  font-weight: 500;
  src: url(/src/assets/fonts/Sora-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "sora";
  font-style: bold;
  font-weight: 700;
  src: url(/src/assets/fonts/Sora-ExtraBold.ttf) format("truetype");
}
